.ck-video-upload-complete-icon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;

    &::after {
         content: "";
         position: absolute;
     }
}
