.ck .ck-upload-placeholder-loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    &::before {
         content: '';
         position: relative;
     }
}
