:root {
    --ck-video-style-spacing: 1.5em;
}

.ck-content {
    & .video-style-side {
        float: right;
        margin-left: var(--ck-video-style-spacing);
        max-width: 50%;
    }

    & .video-style-align-left {
        float: left;
        margin-right: var(--ck-video-style-spacing);
    }

    & .video-style-align-center {
        margin-left: auto;
        margin-right: auto;
    }

    & .video-style-align-right {
        float: right;
        margin-left: var(--ck-video-style-spacing);
    }
}
